{% extends 'base.html.twig' %}

{% block title %}CategoryCours index{% endblock %}

{% block body %}

    <div class="row space20">
        <div class="col-12">
            <a CLASS="btn btn-success pull-left" href="{{ path('category_cours_new') }}">Create new</a>
        </div>
    </div>
    <div class="row space20">
        <div class="col-12">
            <div class="table-responsive">

                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Photo</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for category_cour in category_cours %}
                        <tr>
                            <td>{{ category_cour.id }}</td>
                            <td>{{ category_cour.name }}</td>
                            <td>{{ category_cour.photo }}</td>
                            <td>
                                <a href="{{ path('category_cours_show', {'id': category_cour.id}) }}">show</a>
                                <a href="{{ path('category_cours_edit', {'id': category_cour.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row space20">
        <div class="col-12">
            {{ knp_pagination_render(category_cours, null, {}, {
                'position': 'centered',
                'size': 'large',
                'rounded': true,
            }) }}
        </div>
    </div>
{% endblock %}
