{# default Sliding pagination control implementation #}
<div class="row">
    <div class="col-md-12">
        {% if pageCount > 1 %}
            <div class="pagination">
                {% if first is defined and current != first %}
                    <span class="first paginate_button page-item page-link">
                <a href="{{ path(route, query|merge({(pageParameterName): first})) }}">&lt;&lt;</a>
            </span>
                {% endif %}

                {% if previous is defined %}
                    <span class="paginate_button page-item previous page-link">
                <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&lt;</a>
            </span>
                {% endif %}

                {% for page in pagesInRange %}
                    {% if page != current %}
                        <span class="page paginate_button page-item page-link">
                    <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                </span>
                    {% else %}
                        <span class="current paginate_button page-item page-link">{{ page }}</span>
                    {% endif %}
                {% endfor %}

                {% if next is defined %}
                    <span class="next paginate_button page-item page-link">
                <a href="{{ path(route, query|merge({(pageParameterName): next})) }}">&gt;</a>
            </span>
                {% endif %}

                {% if last is defined and current != last %}
                    <span class="last page-link">
                <a href="{{ path(route, query|merge({(pageParameterName): last})) }}">&gt;&gt;</a>
            </span>
                {% endif %}
            </div>
        {% endif %}

    </div>
</div>
